h1, h2, h3, h4, h5, p, button {
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.fedstreg {
    font-size: 200%;
    text-align: center;
}

.center {
    text-align: center;
}

.sliders {
    display: inline-block;
    width: 19.85%;
    height: 200px;
    background: red;
    font-size: 150%;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
    position: relative;
}

.inputBar {
    width: 100px;
}